<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/members">habitude</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/progresschart">chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="hero">
        <div>
            <h2>welcome to the habitat!</h2>
            <p>our community is growing every day.</p>
        </div>
    </div>

    <div class="container" id="about">
        <div class="about">
            <div>
                <p>  
                      "don't compare yourself to others, compare yourself to the person you were yesterday."</p>
                      <p>that said, here's a quick look at the people also taking responsibility for themselves!</p>
            </div>
        </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <iframe width="600" height="450"
        src="https://datastudio.google.com/embed/reporting/f79624f6-e3d7-47a3-bb44-fdacbba7b424/page/MogjB"
        frameborder="0" style="border:0" allowfullscreen>
      </iframe>
      <br>
      <a class="btn btn-primary" href="/signup" role="button">set a new goal</a>
    </div>
  </div>
</div>

<!-- JQuery, Internal Javascript, and Google Analytics API -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/members.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180240530-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-180240530-1');
</script>

