
{{!-- bootstrap navbar  --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/members">habitude</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="/signup">signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
     
    </ul>
  </div>
</nav>



    <div class="hero">
        <div>
            <h2>form a new habit today</h2>
            <p>make a clear path for your goals with an everyday tracker</p>
              <a class="btn btn-primary" href="#about" role="button">Learn more</a>
        </div>
    </div>

    <div class="container" id="about">
        <div class="about">
            <div>
                <h3>What is habitude?</h3>
                <p>
                    "How we spend our days, is of course how we spend our lives." - Annie Dillard.</p> <p>But are we really aware of how we are spending our days?
                Habitude helps you take stock of what you're doing and where you're going. Our members page gives you visual feedback of how you are spending 
                your time, as well has how you aspire to spend it. </p>
                        <a class="btn btn-primary" href="/signup" role="button">Let's get started</a>
            </div>
        </div>
    </div>

    <hr class="solid">
    
    
    <div class="container">       
        <div class="info">
            <div class="infotext">
                <h4>How does it work?</h4>
                <p>
                   You choose where you want to go, we'll help you get there. When you login, you choose the goals that you want to improve upon. Now, you're on your way! As soon as you hit "submit" you'll be taken to your personal page. Here is where you can update what
                    you did that day, as well as where you can see all the steps you've been taking toward a better lifestyle.
            
                </p>

            </div>
            <img src="./stylesheets/homepagechart.png">
        </div>
    </div>
    <div class="footer">
        <p>habitude copyright © 2020</p>
    </div>
    <!-- JQuery, Internal Javascript, and Google Analytics API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./js/members.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180240530-1"></script>
    
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-180240530-1');
    </script>