    <nav>
        <div class="nav">
            <div class="li flex-container">
                <a class="nav-link flex-item" id="logo" href="/members">Habitude</a>
                <div class="control">
                    <a class="nav-link flex-item" id="logout" href="/signup">Signup</a>
                    <a class="nav-link flex-item" id="logout" href="/login">Login</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="hero">
        <div>
            <h2>form a new habit today</h2>
            <p>make a clear path for your goals with an everyday tracker</p>
        </div>
    </div>
    <div class="container">
        <div class="about">
            <div>
                <h3>What is habitude?</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
        </div>
    </div>
    <hr class="solid">
    <div class="container">       
        <div class="info">
            <div class="infotext">
                <h4>Food</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.u! Specialist diet or not.
                </p>
            </div>
            <img src="./stylesheets/progresschart.png">
        </div>
    </div>
    <div class="footer">
        <p>project2 copyright © 2020</p>
    </div>
    <!-- JQuery, Internal Javascript, and Google Analytics API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180240530-1"></script>
    
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-180240530-1');
    </script>