
{{!-- bootstrap navbar  --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/members">habitude</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="/signup">signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
     
    </ul>
  </div>
</nav>



    <div class="hero">
        <div>
            <h2>form a new habit today</h2>
            <p>make a clear path for your goals with an everyday tracker</p>
              <a class="btn btn-primary" href="#about" role="button">Learn more</a>
        </div>
    </div>

    <div class="container" id="about">
        <div class="about">
            <div>
                <h3>What is habitude?</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        <a class="btn btn-primary" href="/signup" role="button">Let's get started</a>
            </div>
        </div>
    </div>

    <hr class="solid">
    
    
    <div class="container">       
        <div class="info">
            <div class="infotext">
                <h4>Lorem</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.u! Specialist diet or not.
            
                </p>

            </div>
            <img src="./stylesheets/progresschart.png">
        </div>
    </div>
    <div class="footer">
        <p>project2 copyright © 2020</p>
    </div>
    <!-- JQuery, Internal Javascript, and Google Analytics API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180240530-1"></script>
    
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-180240530-1');
    </script>