

{{!-- bootstrap navbar  --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/members">habitude</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="/community">community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/progresschart">chart</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    </ul>
  </div>
</nav>







<div class="container">
    <div class="row">
        <div >
            <h2>Welcome <span class="member-name">!</span></h2>
            <h3>What habits would you like to practice?</h3>
            <form action="/goals">
                <div class="myList">
                    <input type="number" id="sleep_time" name="sleep_time" value="sleep time">
                    <label  for="sleep_time"> Sleep time</label><br>
                    <input  type="number" id="mindful_minutes" name="mindful_minutes" value="Mindful minutes">
                    <label  for="mindful_minutes"> Mindfulness</label><br>
                    <input  type="number" id="exercise_time" name="exercise_time" value="Exercise time">
                    <label  for="exercise_time"> Exercise time</label><br><br>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <p>project2 copyright 2020</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/members.js"></script>