
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/members">habitude</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/community">community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Submit your daily activities!</h1>

<div class="dailylist">
 <p> Today I </p>
  slept for: <input type="number" min="1" max="24" id="sleeptime" name="sleep_time"> hrs<br><br>
  practiced mindfulness for: <input type="number" min="1" max="24" id="mindfulminutes" name="mindful_minutes"> hrs<br><br>
  exercised for: <input type="number" min="1" max="24" id="exercisetime" name="exercise_time"> hrs<br><br>
  <input class="btn btn-primary" type="button" id="submitDaily" value="Submit activity">

</div>

<h2><span class="yourDaily"></span></h2>
</div>
</div>
</div>

</div>
<div class="container">
  <a class="btn btn-success btn-lg btn-block " href="/success">Check Completion Certificate</a>
</div>
<div class="containerChart">
  <div class="chart">
    <canvas id="myChart1"></canvas>
    <h4>Daily sleep hours</h4>
  </div>
  <div class="chart">
    <canvas id="myChart2"></canvas>
    <h4>Daily mindfulness hours</h4>
  </div>
  <div class="chart">
    <canvas id="myChart3"></canvas>
    <h4>Daily exercise hours</h4>
  </div>
</div>


<!-- JQuery, Internal Javascript, and Google Analytics API -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/members.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180240530-1"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="./js/progresschart.js">

</script>
<div class="footer">
<p>habitude copyright © 2020</p>
</div>