/* ************** css nav bar **************** */

body {
    background-color: seashell;
    text-align: center;
}

.nav-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-light .navbar-brand {
    color: white;
    font-family: 'Alata', sans-serif;
    font-size: 25px;
}

.bg-light {
    background-color: #A4D2ED !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
}


/* ******************** breakpoints below ************************* */