/* ************** css nav bar **************** */
body {
    background-color: seashell;
}
.nav {
    background-color: #A4D2ED;
    border: none;
    /* border-bottom: 1px solid gray; */
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

#logo {
    font-family: 'Alata', sans-serif;
    font-size: 40px;
    text-decoration: none;
}

.control {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control a {
    text-decoration: none;
     margin: 0;
     padding: 10px;
}

.control a:hover {
    background-color: #2196f3;
}

#logout {
    font-size: 25px;
}

/* ******************** css nav end ************************* */



@media only screen and (min-width: 400px) {   
    #logo {
        padding: 1rem;
        font-size: 40px;
    }
    
    .control {
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
 } 
 
 
 @media only screen and (min-width: 645px) {
     .flex-container {
         flex-direction: row;
     }
     #logo {
         font-size: 60px;
         margin-left: 10%;
     }
  } 
 
  @media only screen and (min-width: 785px) {
     .flex-container {
         flex-direction: row;
     }
     #logo {
         font-size: 60px;
         margin-left: 10%;
     }
     #logout {
         font-size: 35px;
     }
  } 
 
 