body {
    background-color: white;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav a {
    color: #A4D2ED;
}

section {
    overflow: hidden;
}

.hero {
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./nordicwalking.jpg");
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 200px;
    background-position: center;
}

.hero div {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.hero h2 {
    font-family: 'Alata', sans-serif;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 20px;
    color: white;
    position: relative;
    bottom: 160px;
}

.hero p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    position: relative;
    bottom: 160px;
    font-size: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.nav {
    background-color: white;
    border: none;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.flex-item {
    margin: 15px
}

.nav-link {
    align-items: center;
}

#logo {
    padding-left: 30px;
    font-family: 'Alata', sans-serif;
    font-size: 25px;
    text-decoration: none;
}

#logout {
    padding-right: 30px;
    font-family: 'Alata', sans-serif;
    text-decoration: none;
}

.about {
    background-color: white;
    padding: 70px 20px;
    text-align: center;
    width: 100%;
}

.about h3 {
    font-size: 36px;
    margin-bottom: 50px;
    font-family: 'Alata', sans-serif;
}

.about p {
    font-size: 26px;
    line-height: 1.2;
    max-width: 760px;
    margin: 0 auto;
    font-family: 'Alata', sans-serif;
    color: #08172C;
}

hr.solid {
    border-top: 4px solid #08172C;
    max-width: 1000px;
    border-radius: 20px;
}

.info {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 70px 20px;
}

.info h4 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px auto;
    font-family: 'Alata', sans-serif;
}

.info p {
    margin-bottom: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px auto;
    font-family: 'Alata', sans-serif;
}

.info .infotext {
    padding: 60px 80px 30px;
    float: left;
    width: 50%;
}

.info img {
    width: 45%;
    float: left;
    border-radius: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #08172C;
}

.footer p {
    color: white;
    text-align: center;
    font-family: 'Alata', sans-serif;
    padding-top: 15px;
    font-size: 10px;
}